/*
==========================================================================
Media quiries
==========================================================================
*/

@media (min-width: 421px) {

	p,span,a {
		font-size: 16px!important;
	}

	h3{
		font-size: 30px;
	}

	h5 {
		font-size: 20px;
	}

	/* Container */
	._container {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Section */
	._section {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	._header {
		min-width: 100%;
	}

	#header {
		padding-left: 30px;
		padding-right: 30px;
	}

	._secd_header {
		bottom: 80%;
	}

	._hero {
		width: 100%;
	}

	._hero_container_content ._hero_text {
		width: 768px;
		margin: auto;
		text-align: center;
	}

	._check_availability {
		bottom: 20px;
		left: 50px!important;
		right: 50px!important;

	}

	._check_item .input-group-btn {
		display: initial!important;
	}

	.form-control, .guests select {
		padding: 5px 10px;
		font-size: 15px;
		font-weight: 500;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid dodgerblue;
		border-radius: 5px;
		width: initial;
	}

	.guests select,.btn {
		cursor: pointer;
	}

	.input-group-btn .btn {
		border: 1px solid dodgerblue;
		padding: 2px;
		border-radius: 5px;
	}


	.input-group-btn .btn .fa-calendar {
		font-size: 23px;
		color: dodgerblue;
		cursor: pointer;
	}

	._check_item_2 .btn {
		font-size: 16px;
		font-weight: 600;
		min-width: 150px;
	}

	._check_item h6 {
		font-size: 15px;
		margin-bottom: 5px;
	}

	#hotelThai ._img_box {
		width: 250px;
		margin: auto;
	}

	#resort ._content {
		max-width: 767px;
		margin: auto;
		text-align: center;
	}

	.owl-nav span {
		font-size: 34px!important;
	}

	#facilities ._col_3 {
		grid-auto-rows: 150px;
		grid-template-columns: repeat(5, 1fr);
	}

	
	#facilities ul li span .fa {
		font-size: 50px;
	}

	._comts {
		font-weight: 400;
		font-size: 14px!important;
	}

	#booking ul li ._booking_content h4 {
		font-size: 20px;
	}

	#booking ul li ._booking_content p {
		font-size: 14px!important;
	}

	._contact_info {
		grid-gap: 40px;
	}



}
